<template>
  <div class="div">
    <Navbar />
    <h2>Keranjang</h2>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
export default {
  name: "Keranjang",
  components: {
    Navbar,
  },
};
</script>

<style>
</style>